- var start_year = 1990;
- var stop_year = 2012;
-
  var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September',
                'October', 'November', 'December']

mixin date(label)
  label.field.date
    span.label-text #{label}:
    select.day
      - for (var day = 1; day <= 31; day++) {
        option(value='#{day}') #{day}
      - }
    select.month
      - for (var i = 0; i < months.length; i++) {
        option(value='#{months[i]}') #{months[i]}
      - }
    select.year
      - for (var year = start_year; year <= stop_year; year++) {
        option(value='#{year}') #{year}
      - }
