include mixins.jade

- var year = 2016;
- var cost = 70;
- var late_cost = 90;
-
  var links = {
    'chrome': 'https://www.google.com/intl/en/chrome/browser/',
    'ff': 'http://www.mozilla.org/en-US/firefox/new/',
    'ie': 'http://windows.microsoft.com/en-us/internet-explorer/download-ie',
  }

doctype html

html
  head
    title Youth Camp Registration
    link(rel='stylesheet', href='style.css')
  body
    h1 #{year} Youth Camp Registration
    p.
      #[b NOTE:] Online registration will only work with the latest versions of
      #[a(href='#{links.chrome}') Chrome], #[a(href='#{links.ff}') Firefox], or
      #[a(href='#{links.ie}') Internet Explorer].
      If the form does not load, please try updating your browser.
    p: b Select the number of campers you are registering to begin.

    label(for='numentries') Number of campers:
    select#numentries
      option(value='0') Please choose one
      option(value='1') 1
      option(value='2') 2
      option(value='3') 3
      option(value='4') 4

    form#form.hide
      +camper(1)
      +camper(2)
      +camper(3)
      +camper(4)
      
      hr

      #father-name
        h3 Father's Name
        .section
          +full-name
      #mother-name
        h3 Mother's Name
        .section
          +full-name

      hr

      +address

      hr

      #primary-email
        h3 Primary Email
        +email(true)

      hr

      #secondary-email
        h3 Secondary Email (Optional)
        +email(true)

      hr

      +phone-number('Cell')
      +phone-number('Home')

      hr

      .section
        div Please list any seva that you (the parents) can perform:
          br
          br
          div#seva
            input(type='checkbox', name='langar')
            span.checkbox-label Langar
            input(type='checkbox', name='Snack')
            span.checkbox-label Snack
            input(type='checkbox', name='Sponsor T-Shirt')
            span.checkbox-label Sponsor T-Shirt (full or partial)
            input(type='checkbox', name='Field Trip')
            span.checkbox-label Field Trip (full or partial)
            input(type='checkbox', name='Clean up')
            span.checkbox-label Clean up
            input(type='checkbox', name='Cash Donation')
            span.checkbox-label Cash Donation

      hr

      .section
        p
          | The payment of the $#[span#cost #{cost}] (total) fee can be given to Jasvir Singh
          |  in person. Please make checks payable to the Sikh Society of Michigan.
          b.
            Applications will be considered late after July 10th, and the fee will be
            increased to $#[span#late-cost #{late_cost}].

        button#submit.submit Submit
        img#loading.loading.hide(src='loading.gif')
        .clear
        #error-message.red.hide.
          There are some errors in the above form. Please fix the errors and try submitting again.

      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js')
      script(src='assert.js')
      script(src='sprintf.js')
      script(src='main.js')
